/* ------Fonts------ */
@font-face {
    font-family:'Berlingske Sans';
    src:	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff2') format('woff2'),
            url('https://sc.edu/_global_resources/fonts/BerlingskeSans-Md.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Berlingske Sans Extrabold';
    src:	url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff2') format('woff2'),
            url('https://sc.edu/_global_resources/fonts/BerlingskeSans-XBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Berlingske Sans Extracondensed';
    src:	url('https://sc.edu/_global_resources/fonts/BerlingskeSansXCn-XBd.woff2') format('woff2'),
            url('https://sc.edu/_global_resources/fonts/BerlingskeSansXCn-XBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Berlingske Serif';
    src:    url('https://sc.edu/_global_resources/fonts/BerlingskeSerif-Bd.woff2') format('woff2'),
            url('https://sc.edu/_global_resources/fonts/BerlingskeSerif-Bd.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
/*------------ */

html {
    width: 100vw;
}

body {
    background-color: #73000a;
    width: 100%;
}

h1, h2, h3, h4, h5, p {
    color: white;
    font-family: "Berlingske Sans", "Arial";
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 7em;
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
}

h2 {
    font-family: "Berlingske Sans Extrabold";
    text-align: center;
    font-size: 5em;
}

h3 {
    font-size: 4em;
    font-family: "Berlingske Sans";
 }

button, .btn {
    font-family: "Berlingske Sans", "Arial";
    font-weight: bold;
    padding: 1em;
    font-size: 5em;
}

button p {
    color: #73000a;
}

#main {
    width: 100%;
}

.btn {
    border: 3px solid #73000a;
    background-color: white;
    color: #73000a;
    border-radius: 8px;
}

.btn:active {
    border: 3px solid #fff;
    background-color: #73000a;
    color: #fff;
}

.vertical-stacked {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.vertical-stacked > * {
    justify-content: center;

}

.panel {
    width: 90%;
    padding: 1em 0;
    margin: 2em auto;
    background-color: white;
    color: #73000a;
    border-radius: 8px;
    text-align: center;
}

.panel h2, .panel h3 {
    color: #73000a;
}

.panel img {
    width: 20em;
}

footer p {
    text-align: center;
}

/*------Media Queries------*/
@media only screen and (min-width: 1024px) {
    h1 {
        text-align: left;
    }

    .vertical-stacked {
        flex-direction: row;
        flex: 1 0 0; /*Confirm*/
        justify-content: center;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    button, .btn {
        font-size: 1.5em;
    }
}
